{% extends "layout_master.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-bottom-5">
  <a href="/" rel="prev" class="govuk-back-link">Back to main index</a>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Assessment report audit feature
    </h1>

    <h2 class="govuk-heading-m">Audit Alpha v1</h2>
    <p>Initial designs showing audit of a the assessment report</p>
    <p>Completed assessment report list and showing the full completed reoprt in HTDS format</p>
    
    <p>
      <a href="audit-list" class="govuk-button" style="margin-bottom: 0">Open prototype</a>
    </p>
    
  </div> <!-- govuk-grid-row-column-full -->
</div> <!-- govuk-grid-row -->

{% endblock %}