
{% extends "layout-staff-full.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block serviceName %}
  {{ serviceName }}
{% endblock %}

{% block content %}

  <a href="http://localhost:3001/fha/v8/" class="govuk-back-link">Back to dashboard</a>

  <h1 class="govuk-heading-xl" style="margin-bottom: 0px">9</h1>
  <h2 class="govuk-heading-m">Ready for decision</h2>


  <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Claimant reference</th>
          <th scope="col" class="govuk-table__header">Days since assessment</th>
          <th scope="col" class="govuk-table__header">Assessment centre</th>
          <th scope="col" class="govuk-table__header">Benefit type</th>
          <th scope="col" class="govuk-table__header">Assessment type</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
         <td class="govuk-table__cell">AA 12 34 56 A</td>
         <td class="govuk-table__cell">4 days</td>
         <td class="govuk-table__cell">Tresco House</td>
         <td class="govuk-table__cell">ESA</td>
         <td class="govuk-table__cell">Face to Face</td>
         <td class="govuk-table__cell"><a href="dm-decision-1" class="govuk-link">Make decision</a></td>
       </tr>
       <tr class="govuk-table__row">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">WW 98 76 54 W</td>
          <td class="govuk-table__cell">3 days</td>
          <td class="govuk-table__cell">Tresco House</td>
          <td class="govuk-table__cell">ESA</td>
          <td class="govuk-table__cell">Face to Face</td>
          <td class="govuk-table__cell"><a href="dm-decision-2" class="govuk-link">Make decision</a></td>
        </tr>
      </tr>
      <tr class="govuk-table__row">
       <tr class="govuk-table__row">
        <td class="govuk-table__cell">JJ 67 54 12 J</td>
        <td class="govuk-table__cell">3 days</td>
        <td class="govuk-table__cell">Tresco House</td>
        <td class="govuk-table__cell">UC</td>
        <td class="govuk-table__cell">Paper Based Assessment</td>
        <td class="govuk-table__cell"><a href="dm-decision-3" class="govuk-link">Make decision</a></td>
      </tr>
    </tr>
    <tr class="govuk-table__row">
     <tr class="govuk-table__row">
      <td class="govuk-table__cell">LL 78 56 34 L</td>
      <td class="govuk-table__cell">3 days</td>
      <td class="govuk-table__cell">Five Ways</td>
      <td class="govuk-table__cell">ESA</td>
      <td class="govuk-table__cell">Paper Based Assessment</td>
      <td class="govuk-table__cell"><a href="dm-decision-4" class="govuk-link">Make decision</a></td>
    </tr>
    </tr>
    <tr class="govuk-table__row">
     <tr class="govuk-table__row">
      <td class="govuk-table__cell">TT 99 88 77 T</td>
      <td class="govuk-table__cell">2 days</td>
      <td class="govuk-table__cell">Tresco House</td>
      <td class="govuk-table__cell">ESA</td>
      <td class="govuk-table__cell">Face to Face</td>
      <td class="govuk-table__cell"><a href="dm-decision-5" class="govuk-link">Make decision</a></td>
    </tr>
    </tr>
    <tr class="govuk-table__row">
     <tr class="govuk-table__row">
      <td class="govuk-table__cell">UU 98 12 56 U</td>
      <td class="govuk-table__cell">2 days</td>
      <td class="govuk-table__cell">Tresco House</td>
      <td class="govuk-table__cell">ESA</td>
      <td class="govuk-table__cell">Terminally Ill</td>
      <td class="govuk-table__cell"><a href="dm-decision-6" class="govuk-link">Make decision</a></td>
    </tr>
    </tr>
    <tr class="govuk-table__row">
     <tr class="govuk-table__row">
      <td class="govuk-table__cell">KK 44 56 77 K</td>
      <td class="govuk-table__cell">2 days</td>
      <td class="govuk-table__cell">Tresco House</td>
      <td class="govuk-table__cell">UC</td>
      <td class="govuk-table__cell">Face to Face</td>
      <td class="govuk-table__cell"><a href="dm-decision-7" class="govuk-link">Make decision</a></td>
    </tr>
    </tr>
    <tr class="govuk-table__row">
     <tr class="govuk-table__row">
      <td class="govuk-table__cell">QQ 98 76 54 Q</td>
      <td class="govuk-table__cell">2 days</td>
      <td class="govuk-table__cell">Wolverhampton</td>
      <td class="govuk-table__cell">UC</td>
      <td class="govuk-table__cell">Paper Based Assessment</td>
      <td class="govuk-table__cell"><a href="dm-decision-8" class="govuk-link">Make decision</a></td>
    </tr>
    </tr>
    <tr class="govuk-table__row">
     <tr class="govuk-table__row">
      <td class="govuk-table__cell">PP 24 35 57 P</td>
      <td class="govuk-table__cell">2 days</td>
      <td class="govuk-table__cell">Tresco House</td>
      <td class="govuk-table__cell">ESA</td>
      <td class="govuk-table__cell">Face to Face</td>
      <td class="govuk-table__cell"><a href="dm-decision-9" class="govuk-link">Make decision</a></td>
    </tr>
    </tr>
    </tbody>
  </table>

{% endblock %}
