{% extends "layout_master.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-bottom-5">
  <a href="/" rel="prev" class="govuk-back-link">Back to main index</a>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Allocate feature
    </h1>

    <h2 class="govuk-heading-m">Push allocation v1</h2>
    <p>Initial designs showing a push allocation method</p>
    
    <p>
      <a href="allocate-push-list" class="govuk-button" style="margin-bottom: 0">Open prototype</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Pull allocation v1</h2>
    <p>Initial designs showing pull allocation method</p>
    <p>
      <a href="allocate-pull" class="govuk-button" style="margin-bottom: 0">Open prototype</a>
    </p>
    
  </div> <!-- govuk-grid-row-column-full -->
</div> <!-- govuk-grid-row -->

{% endblock %}