{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		
		
		<h1 class="govuk-heading-xl">Homer Simpson</h1>

		<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

		<h2 class="govuk-heading-m">Unallocated reports</h2>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Practitioner</th>
					<th scope="col" class="govuk-table__header">Assessment date</th>
					<th scope="col" class="govuk-table__header">Claimant</th>
					<th scope="col" class="govuk-table__header">Audit type</th>
					<th scope="col" class="govuk-table__header"></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Barney Rubble</td>
					<td class="govuk-table__cell">9 September 2019</td>
					<td class="govuk-table__cell">Alan Tuquoise</td>
					<td class="govuk-table__cell">100%</td>
					<td class="govuk-table__cell"><a href="claimant-barney-rubble" class="govuk-link">View</a></td>
				</tr>
				<tr class="govuk-table__row">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">Wilma Flintstone</td>
						<td class="govuk-table__cell">9 September 2019</td>
						<td class="govuk-table__cell">John Red</td>
						<td class="govuk-table__cell">50%</td>
						<td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
					</tr>
				</tr>
				<tr class="govuk-table__row">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">Barney Rubble</td>
						<td class="govuk-table__cell">10 September 2019</td>
						<td class="govuk-table__cell">Elizabeth Green</td>
						<td class="govuk-table__cell">100%</td>
						<td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
					</tr>
				</tr>
				<tr class="govuk-table__row">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">Betty Rubble</td>
						<td class="govuk-table__cell">10 September 2019</td>
						<td class="govuk-table__cell">Matty Yellow</td>
						<td class="govuk-table__cell">10%</td>
						<td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
					</tr>
				</tr>
				<tr class="govuk-table__row">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">Pebbles Flintstone</td>
						<td class="govuk-table__cell">10 September 2019</td>
						<td class="govuk-table__cell">Omar Pink</td>
						<td class="govuk-table__cell">50%</td>
						<td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
					</tr>
				</tr>
				<tr class="govuk-table__row">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">Barney Rubble</td>
						<td class="govuk-table__cell">10 September 2019</td>
						<td class="govuk-table__cell">Stephen Orange</td>
						<td class="govuk-table__cell">100%</td>
						<td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
					</tr>
				</tr>
				<tr class="govuk-table__row">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">Wilma Flintstone</td>
						<td class="govuk-table__cell">10 September 2019</td>
						<td class="govuk-table__cell">Eustace White</td>
						<td class="govuk-table__cell">50%</td>
						<td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
					</tr>
				</tr>
				<tr class="govuk-table__row">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">Sam Slagheap</td>
						<td class="govuk-table__cell">10 September 2019</td>
						<td class="govuk-table__cell">Boris Brown</td>
						<td class="govuk-table__cell">30%</td>
						<td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
					</tr>
				</tr>
				<tr class="govuk-table__row">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">Barney Rubble</td>
						<td class="govuk-table__cell">11 September 2019</td>
						<td class="govuk-table__cell">Cecillia Crimson</td>
						<td class="govuk-table__cell">100%</td>
						<td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
					</tr>
				</tr>
			</tbody>
		</table>
	</div> <!-- govuk-grid-column-full -->
</div> <!-- govuk-grid-row -->

{% endblock %}