
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grird-row">
	<div class="govuk-grid-column-one-half">
		
		<h1 class="govuk-heading-m">Customer details</h1>

		<h2 class="govuk-heading-l">Barney Rubble</h2>
		<p class="govuk-caption-m">QQ 12 34 56 Q</p>

	</div> <!-- govuk-column-one-half -->

	<div class="govuk-grid-column-one-half">
		<h1 class="govuk-heading-m">Date of assessment</h1>
		<h2 class="govuk-heading-l">1st September 2019</h2>
		

	</div> <!-- govuk-grid-column-one-half -->
	
</div> <!-- govuk-gridrow -->
{% endblock %}
