{% extends "layout_master.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-bottom-5">
  <a href="index" rel="prev" class="govuk-back-link">Back to main index</a>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Assessment report audit feature
    </h1>

    <h2 class="govuk-heading-m">Case list doesn't return completed audits</h2>
    <h3 class="govuk-heading-m">Created 24 March 2020</h3>
    <p>Creating an error message to show HCP's when selecting a report form case list which has already been auditted.</p>
    <p>
      <a href="/report-unavailable/audit-list" class="govuk-button" style="margin-bottom: 0">Open prototype</a>
    </p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


    <h2 class="govuk-heading-m">Audit Alpha v4</h2>
    <h3 class="govuk-heading-m">Created 27 April 2020</h3>
    <h4 class="govuk-heading-s">Changes to the design:</h4>
    <p>To help usability of the scrolling assessment reoprt the left hand panel has static content</p>
    <p>Added content navigation to left hand panel for locating sections of the assessment reoprt</p>
    <p>Updated content for the confrimation screens enabling users to confirm the action they need to make</p>
    <p></p>
    <p></p>
    <p>
      <a href="/v4-audit/audit-list" class="govuk-button" style="margin-bottom: 0">Open prototype</a>
    </p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Audit Alpha v3</h2>
    <h3 class="govuk-heading-m">Created 29 January 2020</h3>
    <h4 class="govuk-heading-s">Changes to the design:</h4>
    <!-- <p class="govuk-body-l">If we base the flow on Admin distributing the work then Auditors can concentrate more of their time on completing audit work and reduce the admin burden on them</p> -->
    <p>Removing the 'In progress' status marker from case list</p>
    <p>Adding a confirmation screen for the auditor after their decision to release to DWP</p>
    <p>Displaying assesment report order which meets Auditor needs, based on research conducted at CHDA Leeds, Five Ways, and Tresco House card sorting</p>
    <p></p>
    <p></p>
    <p>
      <a href="/v3-audit/audit-list" class="govuk-button" style="margin-bottom: 0">Open prototype</a>
    </p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Audit Alpha v2a</h2>
    <h3 class="govuk-heading-m">Created 22 November 2019</h3>
    <h4 class="govuk-heading-s">Testing hypothesis:</h4>
    <p class="govuk-body-l">If we base the flow on Admin distributing the work then Auditors can concentrate more of their time on completing audit work and reduce the admin burden on them</p>
    <p>Design options for allocating audit work and audit flow based on feedback from UR v1 at Tresco House</p>
    <p>Flow based on the 'jacket' driving the work</p>
    <p>Admin distribute the work based and Auditors selct the case to audit based on 'jackets' they have bewen given</p>
    <p>Link on Index screen has changed to 'Start audit'</p>
    <p>When audit is being worked on the link is not visible</p>
    <p></p>
    <p>
      <a href="/v2a-audit/audit-list" class="govuk-button" style="margin-bottom: 0">Open prototype</a>
    </p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Audit Alpha v2b</h2>
    <h3 class="govuk-heading-m">Created 22 November 2019</h3>
    <h4 class="govuk-heading-s">Testing hypothesis:</h4>
    <p class="govuk-body-l">If we base the flow on Auditors collecting their work then they will need to 'lock' a case to own it before they retrieve the jcket from Admin</p>
    <p>Design options for allocating audit work and audit flow based on feedback from UR v1 at Tresco House</p>
    <p>Flow based on the HTDS system driving the work</p>
    <p>Auditor selects a reoprt from the active list, then retrieves the 'jacket' from admin</p>
    <p>Link on the index screen is 'view report', enabling the auditor to lock the case before starting to work on it</p>
    <p>Once a case has been locked the link to 'view report' is hidden</p>
    <p></p>

    <p>
      <a href="/v2b-audit/audit-list" class="govuk-button" style="margin-bottom: 0">Open prototype</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Audit Alpha v1</h2>
    <h3 class="govuk-heading-m">Created 27 September 2019</h3>
    <p>Initial designs showing audit of a the assessment report</p>
    <p>Completed assessment report list and showing the full completed reoprt in HTDS format</p>

    <p>
      <a href="/v1-audit/audit-list" class="govuk-button" style="margin-bottom: 0">Open prototype</a>
    </p>

  </div> <!-- govuk-grid-row-column-full -->
</div> <!-- govuk-grid-row -->

{% endblock %}
