{% extends "layout_master.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-bottom-5">
  <a href="index" rel="prev" class="govuk-back-link">Back to main index</a>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Audit assessment reports
    </h1>

    <h2 class="govuk-heading-m">Release 0</h2>
    <p>Initial audit service prototype.</p>
    <p>Audit assessment reports service including dashbaord, audits, Decsion Makers and amends/rework.</p>
    <p>For User Resarch use</p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Important to note when starting this version of the prototype.
      </strong>
    </div>
    <p>You will be prompted for another username and password when the button is clicked.</p>
    <p>Please contact Richard Smith for the username and password.</p>
    <p>Email:<a href="mailto:richard.m.smith@dwp.gov.uk?Subject=Prototype%20access" target="_top">Request username and password</a></p>

    <a href="/test-service/dashboard-fha" class="govuk-button" style="margin-bottom: 0">Open prototype</a>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


  </div> <!-- govuk-grid-row-column-full -->
</div> <!-- govuk-grid-row -->

{% endblock %}
